.sidebar {
    width: 15%;
    height: 95%;
    background: #4c19b5;
    transition: 300ms ease;
    position: fixed;
    top: 5%;
}
.sidebar-item {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}
.sidebar-item i {
    margin-right: 20px;

}
.content {
    width: 85%;
    height: 100%;
    margin-left: 15%;
    padding: 5%;
}
.content h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}
